[Desktop Entry]
Categories=Audio;AudioVideo;Qt;
Comment=Change your wallpaper
Exec=yunli-mode
Icon=yunli-mode
Name=Yunli
Name[zh_CN]=云璃
Type=Application
